In [13]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import folium

In [21]:
#Import Dataset
poiedin = pd.read_csv("data-ijcai15/poiList-ijcai15/POI-Edin.csv", sep =";")
costprofcat = pd.read_csv("C:/Users/MyBook Hype AMD/Project/tubesvdi/data-ijcai15/costProf-ijcai15/costProfCat-EdinPOI-all.csv", sep = ";")
uservisit = pd.read_csv("C:/Users/MyBook Hype AMD/Project/tubesvdi/data-ijcai15/userVisits-ijcai15/userVisits-Edin.csv", sep = ";")

uservisit

          photoID        userID   dateTaken  poiID    poiTheme  poiFreq  seqID
0       355803498  10063645@N00  1168492531     17   Structure     1303      1
1       355803564  10063645@N00  1168492549     17   Structure     1303      1
2       355803639  10063645@N00  1168492558     17   Structure     1303      1
3      1431486935  10091295@N02  1190421746     12    Cultural     1208      2
4      1432364530  10091295@N02  1190421792     12    Cultural     1208      2
...           ...           ...         ...    ...         ...      ...    ...
33939   808597687  99962592@N00  1157175445      1  Historical     4569   5027
33940   808904343  99962592@N00  1157177528      1  Historical     4569   5027
33941  2300280995  99962592@N00  1157178098      1  Historical     4569   5027
33942   237487479  99962592@N00  1157276851      8  Historical     1887   5028
33943   237487376  99962592@N00  1157278846      8  Historical     1887   5028

[33944 rows x 7 columns]

In [17]:
edinburgh_map = folium.Map(location=[55.9533, -3.1883], zoom_start=13)

# Color mapping for categories
category_colors = {
    "Historical": "blue",
    "Museum": "green",
    "Structure": "orange",
    "Park": "purple",
    "Cultural": "red",
    "Entertainment": "pink",
}

for _, row in poiedin.iterrows():
    folium.Marker(
        location=[row["lat"], row["long"]],  # Access latitude and longitude from DataFrame
        popup=f"<b>{row['poiName']}</b><br>Category: {row['theme']}",
        icon=folium.Icon(color=category_colors.get(row["theme"], "gray"))  # Use category for color
    ).add_to(edinburgh_map)

# Save the map to an HTML file
edinburgh_map.save("edinburgh_poi_map.html")